body {
    background: url('bg3.jpg');
    background-position: center;
    margin: 10vw;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1 {
    font-size: 2rem;
    color: goldenrod;
    text-align: center;
}

h4 {
    color: thistle;
}

